/*Reset*/
*{  
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans';
}

body{
    border: 10px double red;
    height: 90vh;
    background-color: black;
    color: white;
}

img{
    max-width: 100%;
}

footer{
    border: 10px double red;
    height: 10vh;
    background-color: rgb(50, 75, 105);
}

/*Main*/

#main-top{
    height: 10%;
}

#main-bottom{
    height: 90%;
}

.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item-flex {
    display: flex;
    align-items: flex-end;
}

.info{
    border: 4px solid blue;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    color: white;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    margin: 0;
}

.info h6, .info i{
    color: white;
}

.pic{
    border: 4px solid blue;
    width: 14%;
    height: 130px;
    background-image: url('alps.png');
    background-size: cover;
}

.pic h5{
    display: ;
}

.person{
    background-color: rgba(128, 128, 128, 0.6);
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 3px;
}
/*Footer*/
.zoom-toolbar{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.left-controls{
    display: flex;
    gap: 0 25px;
}

.icon-box{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.icon-box .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/*Debug*/
.debug{
    border: 7px dashed yellow;
}